RewriteEngine On

# Remover .html de las URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirigir /index a /
RewriteRule ^index$ / [R=301,L]
RewriteRule ^index.html$ / [R=301,L]

# Asegurar que www.dominio.com redirige a dominio.com
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Forzar HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Prevenir listado de directorios
Options -Indexes

# Establecer página de error 404 personalizada
ErrorDocument 404 /404.html 